<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<main>
  <h1>Albums</h1>

    <form action="/albums" method="post">
        <p>title: <input type="text" id="title" name="title" /></p>
        <p>artist: <input type="text" id="artist" name="artist" /></p>
        <p>songCount: <input type="number" min="1" id="songCount" name="songCount" /></p>
        <p>length: <input type="number" id="length" name="length" /></p>
        <p>imageUrl: <input type="text" id="imageUrl" name="imageUrl" /></p>
        <input type="submit" value="Add new album" />
    </form>


    <div th:each="album: ${albums}">
        <hr>
        <h2 th:text="${album.title}"></h2>
        <p>The album artist : <span th:text="${album.artist}"></span></p>

        <p>The album song count : <span th:text="${album.songCount}"></span></p>

        <p>The album length : <span th:text="${album.length}"></span></p>

        <img class="cardImage" th:src="${album.imageUrl}"/>
    </div>

</main>
</body>
</html>