<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<main>
  <h1>Albums</h1>
    <form action="#" th:action="@{/v2/albums}" th:object="${/v2/albums}" method="post">
        <p>title: <input type="text" field="*{title}" name="title" /></p>
        <p>artist: <input type="text" field="*{artist}" name="artist" /></p>
        <p>songCount: <input type="number" min="1" field="*{songCount}" name="songCount" /></p>
        <p>length: <input type="number" field="*{length}" name="length" /></p>
        <p>imageUrl: <input type="text" field="*{imageUrl}" name="imageUrl" /></p>
        <p>Submit <input type="submit" value="Submit" /></p>
    </form>
  <div class="Album" th:each="album: ${Albums}">
      <hr><hr>
      <h2 th:text="${album.title}"></h2>

      <p>The album artist : <span th:text="${album.artist}"></span></p>

      <p>The album song count : <span th:text="${album.songCount}"></span></p>

      <p>The album length : <span th:text="${album.length}"></span></p>

    <img class="cardImage" th:src="${album.imageUrl}"/>
  </div>
</main>
</body>
</html>